nav{
    background-color: #fafafa  !important;
}
.tick{
    background: #3CB371;
    color: white;
    border-radius: 20px;
    margin-right: 13px;
}
.youtube{
    background: #FF0000;
    color: white;
    border-radius: 20px;
    margin-left: 30px;
}
.channels{
    background-color: #fafafa ;
    border-radius: 25px;
    width: 100%;
    padding: 4%;
    padding-top: 7%;
    align-items: center;
    margin-top: 11px;
}
.SideNavDiv{
    background-color: azure;
}
.innerLi{
    margin-left: 30px;
}