body{
    font-size: smaller;
}
h5{
    font-weight: bolder !important;
    font-size: x-large !important;
}
.main-body{
    background-color:rgb(209, 234, 250);
}
nav{
    background-color: rgba(255, 255, 255, 0.664)  !important;
}
.tick{
    background: #3CB371;
    color: rgba(255, 255, 255, 0.664) ;
    border-radius: 20px;
    margin-right: 13px;
    font-size: 14px !important;
}
.innerLi .tick{
    font-size: 9px !important;
}
.youtube{
    background: #FF0000;
    color: rgba(255, 255, 255, 0.664) ;
    border-radius: 20px;
    margin-left: 30px;
}
.channels{
    background-color:rgba(240, 235, 235, 0.664) ;
    border-radius: 25px;
    width: 100%;
    padding: 4%;
    padding-top: 7%;
    align-items: center;
    margin-top: 11px;
}
.SideNavDiv{
    background-color: rgba(255, 255, 255) ;
    border-radius: 14px;
    padding:11px;
    align-content: center;
    margin-top: 11px;
    margin-bottom: 11px;
}
.innerLi{
    margin-left: 30px;
    font-weight: normal;
}
.stausLi{
    margin: 11px;
    font-weight: bolder;
}
.card-panel{
    height : 90px !important;
    width  : 200px !important;
    overflow: hidden;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    text-align: center;
    border-radius: 7px !important;
}
.btn{
    background-color: rgba(255, 255, 255, 0.664)  !important;
}
.dropdown-trigger{
    border-radius: 6px !important;
}
.subnavdropdown{
    margin-top: 11px;
}
.icon{
    height : 70px;
    width  : 70px;
    align-self: center;
}
.card-span{
    margin:0px;
    padding: 0px;
}
.progress-bar-container{
    background-color: white;
}
.progress-bar{
    max-height: 5px;
    width:75%;
    background-color: rgb(255,192,203);
    color : white;
    border-radius: 25px;
}
.barLabel{
    text-align: end;
}
@media screen and (min-device-width: 0px) and (max-device-width: 767px){
   .icon{
       display: none;
    }
    .card-panel{
        width: 120px !important;
        height: fit-content !important;
        text-align: center !important;
    }
    .body-head{
        align-content: center;
    }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 700px) {
    .card-panel{
        width: 200px !important;
        height: fit-content !important;
        text-align: center !important;
        margin-left: 20px !important;
        margin-top: 4px !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .card-panel{
        width: 130px !important;
        height: 90px !important;
    }
    .icon{
        height : 40px;
        width  : 40px;
    }
}