body{
    font-size: smaller;
}
h5{
    font-weight: bolder !important;
    font-size: x-large !important;
}
.main-body{
    background-color:rgb(209, 234, 250);
}
nav{
    background-color: rgba(255, 255, 255, 0.664)  !important;
    border-radius: 0px !important;
}
.tick,.hide_tick{
    background: #3CB371;
    color: rgba(255, 255, 255, 0.664) ;
    border-radius: 20px;
    margin-right: 13px;
    font-size: 14px !important;
}
.hide_tick{
    background: rgb(211, 209, 209) ;
    color:  rgb(211, 209, 209) ;
    border: black !important;
}
.innerLi .tick{
    font-size: 9px !important;
}
.innerLi .hide_tick{
    font-size: 9px !important;
}
.youtube{
    background: #FF0000;
    color: rgba(255, 255, 255, 0.664) ;
    border-radius: 20px;
    margin-left: 30px;
}
.channels{
    background-color:rgba(240, 235, 235, 0.664) ;
    border-radius: 25px;
    width: 100%;
    padding: 4%;
    padding-top: 7%;
    align-items: center;
    margin-top: 11px;
}
.SideNavDiv{
    background-color: rgba(255, 255, 255) ;
    border-radius: 14px;
    padding:11px;
    align-content: center;
    margin-top: 11px;
    margin-bottom: 11px;
}
.innerLi{
    margin-left: 30px;
    font-weight: normal;
}
.stausLi{
    margin: 11px;
    font-weight: bolder;
}
.card-panel{
    height : 90px !important;
    width  : 200px !important;
    overflow: hidden;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    text-align: center;
    border-radius: 7px !important;
}
.btn{
    background-color: rgba(255, 255, 255, 0.664)  !important;
}
.dropdown-trigger{
    border-radius: 6px !important;
}
.subnavdropdown{
    margin-top: 11px;
}
.icon, .icon-warning{
    height : 40px;
    width  : 40px;
    align-self: center;
}
.card-span{
    margin:0px;
    padding: 0px;
}
.progress-bar-container{
    background-color: white;
}
.progress-bar{
    max-height: 5px;
    width:75%;
    background-color: rgb(255,192,203);
    color : white;
    border-radius: 25px;
}
.barLabel{
    text-align: end;
}
.comments{
    width : 100% !important;
    height : auto !important;
    text-align: justify;
}
.commentor :nth-child(1){
    color : rgba(50, 0, 248, 0.664);
    font-weight: bolder;
}
.commentor :nth-child(2){
    color : rgba(141, 140, 140, 0.664);
}
.card-footer-right{
    text-align: right;
    padding-left:100px !important;
}
.card-footer-right i{
    background-color:#fdf7f7 !important;
    border-radius: 25px;
    font-weight:bolder;
    margin-left: 14px !important;
}
.comment-tick{
    color:#3cb371 !important;
}
.comment-eye{
    color: rgb(221, 182, 8);
}
.card-footer-left{
    background-color:rgba(240, 235, 235, 0.664) ;
    border-radius: 25px;
    padding: 11px;
    text-align: center;
}
.card-footer-image{
    width: 20px;
    height: 20px;
    display: inline-block  !important;
}
.card-footer-left label{
    margin-left: 11px;
    color:black;
    padding-top: 0px;
    margin-top : 0px;
}
.personIcon{
    height : 50px !important;
    width : 50px !important;
    border-radius: 25px !important;
    margin-top: 11px;
}
.post{
    width : 100% !important;
    height : auto !important;
    text-align: justify;
}
.post-comment-footer{
    align-items: flex-end;
}
.icon-img{
    padding-left:270px !important;
}
@media screen and (min-device-width: 0px) and (max-device-width: 767px){
   .icon{
       display: none;
    }
    .card-panel{
        width:  100%  !important;
        height: fit-content !important;
        text-align: center !important;
    }
    .body-head{
        align-content: center;
    }
    .card-footer-right{
        padding-left: 0px !important;
    }
    .icon-img{
        padding-left:70px !important;
    }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 700px) {
    .card-panel{
        width: 100% !important;
        height: fit-content !important;
        text-align: center !important;
        margin-left: 20px !important;
        margin-top: 4px !important;
    }
    .card-footer-right{
        padding-left: 0px !important;
    }
    .icon-img{
        padding-left:70px !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .icon{
        height : 40px;
        width  : 40px;
    }
    .card-panel{
        width: 100% !important;
        height: fit-content !important;
        text-align: center !important;
        margin-left: 20px !important;
        margin-top: 4px !important;
    }
    .card-footer-right{
        padding-left: 0px !important;
    }
    .icon-img{
        padding-left:70px !important;
    }
}
.sample{
    height: 50px!important;
    line-height: 35px!important;
    padding-left: 2px!important;
    border-radius: 13px!important;
    border: none!important;
    font-size: 16px!important;
    color: #333!important;
    min-height: auto!important;
    overflow-y: hidden!important;
    resize: none!important;
    border: 1px solid #ccc!important;
}
.smiley{
    margin-top:11px !important;
}
.post-image{
    width:100% ;
    border-radius: 5px;
}
.reply-button{
    background-color:#4BB543;
    border-color:#4BB543;
    color : #fff;
    border-radius: 7px;
    padding: 3px;
}
.like{
    color: rgb(247, 118, 118);
}
.ban{
    color: rgba(7, 168, 243, 0.664);
}